@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Kindred';
    src: url(./fonts/kingred.otf);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #003845;
}

.header {
    background-color: #9bd4e4;
    padding: 0 300px;
}

.header p {
    color: white;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 0;
}

.menu h1 {
    font-size: 30px;
    font-family: 'Kindred';
}

.push-right {
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.presentation {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 80px 0;
}

.order {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.order h2 {
    font-size: 48px;
    font-weight: 900;
}

.order button {
    background-color: white;
    border: 0;
    border-radius: 7px;
    padding: 5px 35px;
    font-size: 15px;
    font-weight: 900;
}

.img-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #bde9f5;
    border-radius: 15px;
    height: 265px;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 400px 80px 400px;
}

.content h2 {
    padding-bottom: 40px;
}

.tartas {
    display: flex;
    gap: 100px;
}

.tartas div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tartas img {
    max-width: 100%;
    border-radius: 10px;
}

.reviews {
    background-color: #e1f2f7;
    padding: 80px 450px;
    display: flex;
    flex-direction: column;
}

.r1 {
    color: #66888f;
    align-self: flex-start;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.r2 {
    align-self: flex-end;
    font-weight: bold;
}

.contact {
    padding: 80px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #003845;
    color: white;
    padding: 30px 100px;
    border-radius: 15px;
}

.form h2 {
    font-size: 20px;
    margin-bottom: 4px;
}

.form p {
    font-size: 15px;
}

.form button {
    background-color: #003845;
    color: white;
    border: white solid 1px;
    border-radius: 7px;
    padding: 10px 40px;
}

.footer {
    padding: 20px 0;
    background-color: #9bd4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}