@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Kindred';
    src: url(./fonts/kingred.otf);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #9bd4e4;
    padding: 0 300px;
    color: white;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #003845;
    padding: 20px 0 0 0;
}

.menu h3 {
    font-size: 30px;
    font-family: 'Kindred';
}

.push-right {
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.presentation {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 80px 0;
}

.order {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.order h1 {
    font-size: 48px;
    font-weight: 900;
    color: #003845;
}

.order button {
    background-color: white;
    border: 0;
    border-radius: 7px;
    padding: 5px 35px;
    color: #003845;
    font-size: 15px;
    font-weight: 900;
}

.img-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #bde9f5;
    border-radius: 15px;
    height: 265px;
}
